**/backups/*
**/backups/**/*
dot_emacs.d/auto-save-list/**/*
.DS_Store
slack-rtm
.org-id-locations
places
bash/remotes.sh

# Kiss my ass, emacs WIP files
*\~
*\#*

Sublime\ Text\ 2/**/*.pyc
Sublime\ Text\ 2/Packages/User/Package\ Control.cache/**/*
Sublime\ Text\ 2/**/Package Control.last-run
Sublime\ Text\ 2/**/Package Control.ca-list
Sublime\ Text\ 2/**/Package Control.ca-bundle
Sublime\ Text\ 2/**/Package Control.system-ca-bundle
Sublime\ Text\ 2/**/Package Control.cache/**/*
Sublime\ Text\ 2/**/Package Control.ca-certs/**/*
Sublime\ Text\ 2/**/*.cache