**/backups/*
**/backups/**/*
dot_emacs.d/auto-save-list/**/*
.DS_Store
slack-rtm
.org-id-locations
places
bash/remotes.sh

# Kiss my ass, emacs WIP files
*\~
*\#*

Sublime\ Text\ 2/**/*.pyc
Sublime\ Text\ 2/Packages/User/Package\ Control.cache/**/*
Sublime\ Text\ 2/**/Package Control.last-run
Sublime\ Text\ 2/**/Package Control.ca-list
Sublime\ Text\ 2/**/Package Control.ca-bundle
Sublime\ Text\ 2/**/Package Control.system-ca-bundle
Sublime\ Text\ 2/**/Package Control.cache/**/*
Sublime\ Text\ 2/**/Package Control.ca-certs/**/*
Sublime\ Text\ 2/**/*.cache


# Created by https://www.gitignore.io/api/haskell
# Edit at https://www.gitignore.io/?templates=haskell

### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# End of https://www.gitignore.io/api/haskell
